$sb-header-height: 64px;
$sb-border: 1px solid #e0e5ee;

$sb-tab-background: #222;
$sb-tab-background-selected: #333;
$sb-tab-color: #999;
$sb-tab-color-selected: #fff;

:root {
  height: 100vh;
}
body,
#root {
  height: 100%;
  background-color: #f3f5f7;
}
#sb-root {
  height: 100%;
}
.sb-header {
  height: $sb-header-height;
  background-color: #ffffff;
}
.sb-box-shadow {
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 6%);
}
.sb-border-box {
  border: $sb-border;
}
.sb-border-right {
  border-right: $sb-border;
}
.sb-border-left {
  border-left: $sb-border;
}
.sb-border-top {
  border-top: $sb-border;
}
.sb-border-bottom {
  border-bottom: $sb-border;
}
.sb-tab {
  width: 72px;
  background-color: $sb-tab-background;
  .sb-tab-item {
    width: 100%;
    height: 72px;
    color: $sb-tab-color;
    &:hover {
      color: $sb-tab-color-selected;
    }
  }
  .sb-tab-item.sb-tab-selected {
    color: $sb-tab-color-selected;
    background-color: $sb-tab-background-selected;
  }
}
.sb-tab-content {
  width :328px;
  background-color: #333333;
}
